.blog_back {
}

.blog_footer {
	@include limited-width;
}

.blog_header {
	@include limited-width;
	margin-bottom: $grid;
}

.blog_notice {
	color: $text-color-light;
	text-align: center;
}

// Border below, cut overlaps left and right
.blog_row {
	box-shadow: ($grid / 2) 0 0 #fff inset, (-$grid / 2) 0 0 #fff inset, 0 -1px $border-color inset; // 1
	display: table;
	margin: 0 (-$grid / 2) $grid;
	padding: ($grid / 2) 0;
	table-layout: fixed;
	width: calc(100% + #{$grid}); // FF fix

	& + & {
		margin-top: -$grid;
	}

	@media #{$medium} {
		box-shadow: none;
		display: block;
		margin: 0 0 $grid;
		width: 100%;
	}
}
