{% extends "base.html" %}

{% block login %}
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa-user icon-white"></i> 
			Username <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#"><i class="fa-home icon-white"></i> Profile</a></li>
			<li class="divider"></li>
			<li><a href="#"><i class="fa-star icon-white"></i> My Items</a></li>
			<li class="divider"></li>
			<li><a href="#"><i class="fa-wrench icon-white"></i> Preferences</a></li>
			<li class="divider"></li>
			<li><a href="#"><i class="fa-sign-out icon-white"></i> Logout</a></li>
		</ul>
	</li>
{% endblock %}

{% block relatedtool %}
<li><a href="#">AnAwesomeRelatedTool</a></li>
{% endblock %}

{% block footer %}
	<span>&copy; 2013 DARIAH-DE</span>
	<ul class="pull-right inline">
		<li><a href="#">Datenschutz</a></li>
		<li><a href="#">Impressum</a></li>
		<li><a href="#">Blurp</a></li>
	</ul>
{% endblock %}